- var myTitle = "Text"

- var test_menu = [{'title': 'Главная', 'href' : 'index.html'}, {'title': 'Блог', 'href' : 'blog.html'},{'title': 'Портфолио', 'href' : 'olol.html'},{'title': 'Контакты', 'href' : 'contact.html'}, ];


- var  qwer = ["item, otem2"]