<!DOCTYPE html>
html(lang="en")
  head
  title
    block title 
  block metatags
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
  block links
    include includes/_link.pug
  body
    include blocks/main.pug
    block content
    block scripts
      include includes/scripts.pug
