include ../blocks/includes/template.pug

append content
  p ere
  p dsdfsf


  - let infoBox = ["Заглавный текст", "text1", "text2", "text3"]
  - let infoBox2 = ["Заглавный текст2", "text12", "text23", "text33"]
+block(...infoBox)
 

block blockWrapper 
  +boxItem(...infoBox2)
  +boxItem(...infoBox)

________________________________________________________________________
  -let text1 = ["text1", "text2", "text3"]


  - let infoBox11 = [{"title":"Заглавный текст11", "text": ["text111", "text1112", "text113"]}]
  - let infoBox22 = [{"title":"Заглавный текст22", "text": ["text211", "text2222", "text223"]}]
  - let BLOCKINFO = [infoBox11, infoBox22]




 
block blockWrapper 
  +boxItem2(...infoBox11)
________________________________________________________________________

+boxItem3(...BLOCKINFO)  


hr
for movie in movieList
  +movie-card(movie)